/* Base */
html {
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
body {
  color: #2E3A38;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  max-width: 100%;
}
img {
  max-width: 100%;
}

/* Site */
.site {
  font-size: 1.6em;
}

/*Hero*/
.hero img {
  left: 50%;
  position: fixed;
  top: 0;
  transform: translate(-50%, 0);
}


/*Main*/
.main {
  padding-top: 200px;
  position: relative;
}

/* Navigation */
.nav ul {
  background-color: #006DBF;
  list-style-type: none;
  padding: 0;
}
.nav li {
  border-bottom: 1px solid #5d7baf;
  padding: 5px 0;
}
.nav li:last-child{
  border-bottom: none;
}
.nav ul li:hover {
  background: #4d8dbd;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

/* Banner */
.banner {
  background: url('images/banner_plan.jpg') no-repeat;
  margin: 0 2%;
}

/*Services*/
.services {
  margin: 0 2%;
}

/*Mission Statement*/
.mission {
  margin: 0 2%;
}
