/* Base */
html {
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
body {
  color: #2E3A38;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  max-width: 100%;
}
img {
  max-width: 100%;
}

/* Site */
.site {
  font-size: 1.6em;
}

/*Hero*/
.hero {
  height: 200px;
  position: fixed;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, 0);
  width: 100%;
}

/*Main*/
.main {
  background: #eee;
  margin-top: 200px;
  position: relative;
}

/* Navigation */
.nav {
  box-shadow: 0 3px 10px #333;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav ul {
  background-color: #006DBF;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  border-bottom: 1px solid #4067aa;
  transition: 0.3s ease-in-out;
}
.nav li:last-child{
  border-bottom: none;
}
.nav ul li:hover {
  background: #4d8dbd;
}

.nav a {
  color: #eee;
  display: block;
  padding: 5px 0;
  text-decoration: none;
}

/* Banner */
.banner {
  padding-top: 150px;
}

/*Services*/
.services {
  color: #333;
  margin-bottom: 10px;
}
.service-header h4{
  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
  margin-bottom: 0;
  padding: 10px 0;
}
.service-list {
  text-align: left;
}
.service-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.service-list li {
  border-bottom: 1px solid #333;
  padding: 10px;
}
.main-service {
  background-color: #4d8dbd;
  color: #eee;
  font-weight: bolder;
}
span {
  position: absolute;
  right: 10px;
}
.more {
  display: none;
}

/*Mission Statement*/
.mission {
  background: #4d8dbd;
  border: 2px solid #006DBF;
  border-radius: 25px;
  margin: 5%;
}
.statement {
  color: #444;
  padding: 10px;
}

/*Footer*/
.footer {
  background-color: #999;
  padding: 5px 2%;
}
.dev a {
  text-decoration: none;
}
